.previous-comments {
    display: flex; 
    width: 90vw; 
    justify-content: center;
    margin: 5vw; 
    border-bottom: 0.15rem solid #E1E1E1; 

    &__subsection {
        width: 75%; 
    }
    

    &__avatar {
        background-color: #E1E1E1; 
        height: 2.25rem; 
        width: 2.25rem; 
        border-radius: 1.125rem;
        margin-right: 1rem; 
    }

    &__title {
        display: flex; 
    }

    &__name {
        font-size: 0.8125rem; 
        font-weight: 700;
    }

    &__comments {
        font-size: 0.8125rem; 
        font-weight: 400; 
    }
}

